<div>
  <div class="categoryGridHeader">
    <h2>Select sub-categories: </h2> 
  </div>
</div>


<div *ngIf="Global.categoryArray">
    <div class="grid grid-pad">
        <div *ngFor="let category of Global.categoryArray" class="col-1-4">
          <div class="module" (click)="onSelect(category)" >
            <div [class.selectedMainCategory]="category === Global.selectedCategory" >
              <div [class.selected]="isSecondarySelected(category)">
                  <h4>{{category.name}}</h4>
              </div>
            </div>
          </div>
        </div>
    
</div>

<div>
    <button name="back" (click)="goBack()"> BACK</button>
</div>

